* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.header-container {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/assets/images/banner-2.jpg');
  background-blend-mode: multiply;
  background-repeat: repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: max-content;
  background-attachment: fixed;
}
.header-container .navbar {
  background-color: transparent;
  transition: all 0.5s ease;
  padding: 20px 40px;
}
.header-container .navbar.scrolled {
  background-color: #242424cc;
  border-radius: 20px;
  border: 3px solid #363636;
  margin: 10px;
  box-shadow: 1px 9px 10px -3px rgba(0, 0, 0, 0.253);
-webkit-box-shadow: 1px 9px 10px -3px rgba(0,0,0,0.18);
-moz-box-shadow: 1px 9px 10px -3px rgba(0,0,0,0.18);
}
.header-container .navbar .navbar-brand .navbar-item {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
}
.header-container .navbar-menu {
  background-color: transparent;
}
.header-container .navbar-menu .navbar-end .navbar-item {
  background-color: transparent;
}
.header-container .navbar-menu .navbar-end .navbar-item {
  color: #fff;
  margin-left: 10px;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}
.header-container .navbar-menu .navbar-end .navbar-item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.header-container .navbar-menu .navbar-end .navbar-item:hover::before {
  visibility: visible;
  transform: scaleX(1);
}
@media (min-width: 769px) {
  .header-container .navbar-menu .navbar-end .navbar-item::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
  }

  .header-container .navbar-menu .navbar-end .navbar-item:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
@media (max-width: 768px) {
  .header-container .navbar-menu .navbar-end .navbar-item::before {
    content: none;
  }
}
.navbar-burger span {
  color: #fff;
}
.container {
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 50px;
  padding-top: 160px;
}
.text-container {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
}
.text-container .first-text {
  color: #fff;
  font-size: 1.7em;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.text-container .second-text, .third-text{
  color: #fff;
  font-size: 13px;
  letter-spacing: 2px;
}
.button-container {
  display: flex;
  justify-content:start;
  align-items: center;
  margin-top: 10px;
}
.buttons {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  color: #ffffff;
  transition: background-color 0.3s;
  border: 1px solid white;
  margin-top: 15px;
}
.buttons:last-child {
  position: relative;
  bottom: 11px;
}
.buttons:hover {
  background-color: #fff;
  color: #000;
}
@media (max-width: 600px) {
  .button-container {
    flex-direction: row;
  }
  .buttons {
    font-size: 10px;
  }
}
.image-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.image-container img {
  max-width: 70%;
  height: auto;
  width: auto;
  border: 4px solid #fff;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
  }
  .text-container p {
    text-align: center;
  }
  .button-container {
    justify-content: center;
  }
  .text-container,
  .image-container {
    width: 100%;
    padding: 10px;
  }
}

.about-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

.about-image-container {
  flex: 1;
  padding: 0 20px;
}

.about-image-container img {
  width: 350px;
  height: 350px;
  margin-left: 100px;
  border: 2px solid #fff;
  border-radius: 10%;
}

.about-content {
  flex: 1;
  text-align: left;
  padding: 0 20px;
  margin-right: 100px;
}
.about-content p {
  color: #fff;
  font-size: 14px;
}
.about-content p strong {
  color: #fff;
}
.about-content h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
  padding-bottom: 25px;
}

@media (max-width: 1060px) {
  .about-container {
    flex-direction: column-reverse;
    margin-top: 120px;
  }

  .about-image-container {
    max-width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .about-image-container img {
    margin: 0;
    margin-bottom: 10px;
  }
  .about-content {
    text-align: center;
    padding: 0 20px;
    margin: 0;
    margin-top: 50px;
    padding-top: 80%;
    margin-bottom: 20px;
  }
  .about-content p {
    text-align: justify;
  }
}
.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}
.image-grid {
  margin-top: 20px;
  padding-bottom: 25px;
}
.image-grid .columns {
  margin-bottom: 20px;
}
.image-grid .column img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #fff;
  border-radius: 10px;
}
.image-grid .column .caption {
  color: #fff;
  margin-top: 10px;
  text-align: left;
}
.image-grid .column .caption .title {
  color: #fff;
}
.image-grid .column .caption a {
  color: #ffffffa9;
  font-size: 14px;
}
.image-grid .column .caption a:hover {
  text-decoration: underline;
}
.image-grid .column .caption a:active {
  color: salmon;
  text-decoration: underline;
}
.main-title {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 25px;
}
.img-container .main-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
  margin-top: 80px;
}
.section {
  width: 100%;
  height: fit-content;
}
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio: 16:9 */
    box-shadow: none; /* Remove box shadow */
    background-color: transparent;
}
.column .box {
  background-color: transparent;
  box-shadow: none;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 10px;
}
.video-container .video-main-title {
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}
.box .title {
  color: #fff;
  margin-top: 10px;
}
.box p {
  color: #fff;
}
.box p .attribution-link {
  color: #ffffffa9;
  font-size: 15px;
  font-weight: 600;
}
.box p .attribution-link:hover {
  text-decoration: underline;
}
.box p .attribution-link:active {
  color: salmon;
}
.box p a {
  color: #ffffffa9;
  font-size: 14px;
}
.box p a:hover {
  text-decoration: underline;
}
.box p a:active {
  color: salmon;
}


 /* Styling for the footer */
 footer {
  color: #d4d4d4;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

/* Responsive styles */
@media (max-width: 768px) {
  footer {
    font-size: 12px;
  }
}